{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="section-content padding-y bg">

        {% include 'includes/alerts.html' %}
        <div class="container">
            <div class="row">
                {% include 'includes/dashboard_sidebar.html' %}
                <main class="col-md-9">
                    <article class="card">
                        <header class="card-header">
                            <strong class="d-inline-block mr-3"> Edit your profile</strong>
                        </header>
                        <div class="card-body">
                            <div class="text-right">
                                {% if userprofile.profile_picture %}
                                <img src="{{ userprofile.profile_picture.url }}" alt="Profile Picture" width="100"
                                     style="border-radius:50px;">
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>First Name</label>
                                                {{ user_form.first_name }}
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Last Name</label>
                                                {{ user_form.last_name }}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Phone Number</label>
                                                {{ user_form.phone_number }}
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Profile Picture</label>
                                                {{ profile_form.profile_picture }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Address Line 1</label>
                                            {{ profile_form.address_line1 }}
                                        </div>
                                        <div class="form-group">
                                            <label>Address Line 2</label>
                                            {{ profile_form.address_line2 }}
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label>City</label>
                                                {{ profile_form.city }}
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>State</label>
                                                {{ profile_form.state }}
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>Country</label>
                                                {{ profile_form.country }}
                                            </div>
                                        </div>
                                        <input type="submit" value="Save" class="btn btn-primary">
                                    </form>
                                </div>

                            </div> <!-- row.// -->
                        </div> <!-- card-body .// -->
                    </article> <!-- order-group.// -->
                </main>
            </div> <!-- row.// -->
        </div>


    </section>

{% endblock %}
