{% extends 'base.html' %}
{% load static %}

{% block content %}


    <div class="container"
         style="width: 50%;padding: 50px;background: #f1f1f1; margin: 50px auto;">
        <div class="row invoice row-printable">
            <div class="col-md-12">
                <!-- col-lg-12 start here -->
                <div class="panel panel-default plain" id="dash_0">
                    <!-- Start .panel -->
                    <div class="panel-body p30">
                        <div class="row">
                            <!-- Start .row -->
                            <div class="col-lg-6">
                                <!-- col-lg-6 start here -->
                                <div class="invoice-logo"><img src="{% static '/images/logo.png' %}" alt="Invoice logo"
                                                               style="max-height: 40px;"></div>
                            </div>
                            <!-- col-lg-6 end here -->
                            <div class="col-lg-6">
                                <!-- col-lg-6 start here -->
                                <div class="invoice-from">
                                    <ul class="list-unstyled text-right">
                                        <li><strong>Invoiced To</strong></li>
                                        <li>{{ order.full_name }}</li>
                                        <li>{{ order.full_address }}</li>
                                        <li>{{ order.city }}, {{ order.state }}</li>
                                        <li>{{ order.country }}</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- col-lg-6 end here -->
                            <div class="col-lg-12">
                                <!-- col-lg-12 start here -->
                                <div class="invoice-details mt25">
                                    <div class="well">
                                        <ul class="list-unstyled mb0">
                                            <li><strong>Order</strong> #{{ order.order_number }}</li>
                                            <li><strong>Transaction ID</strong> {{ order.payment.payment_id }}</li>
                                            <li><strong>Order Date:</strong> {{ order.created_at }}</li>
                                            <li><strong>Status:</strong> {{ order.payment.status }}</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="invoice-items">
                                    <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th class="per70 text-center">Products</th>
                                                <th class="per5 text-center">Qty</th>
                                                <th class="per25 text-center">Total</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in order_detail2 %}
                                                <tr>
                                                    <td>{{ item.product.product_name }}
                                                        <p class="text-muted small">
                                                            {% if item.variations.all %}
                                                                {% for i in item.variations.all %}
                                                                    {{ i.variation_category | capfirst }} :
                                                                    {{ i.variation_value | capfirst }} <br>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </p>
                                                    </td>
                                                    <td class="text-center">{{ item.quantity }}</td>
                                                    <td class="text-center">{{ item.product_price }} Lei</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th colspan="2" class="text-right">Total:</th>
                                                <th class="text-center">{{ subtotal }} Lei</th>
                                            </tr>
                                            <tr>
                                                <th colspan="2" class="text-right">T.V.A.:</th>
                                                <th class="text-center">{{ order.tax }} Lei</th>
                                            </tr>

                                            <tr>
                                                <th colspan="2" class="text-right">Total + T.V.A.:</th>
                                                <th class="text-center">{{ order.order_total }} Lei</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="invoice-footer mt25">
                                    <p class="text-center">Thank you for shopping with us!</p>
                                </div>
                            </div>
                            <!-- col-lg-12 end here -->
                        </div>
                        <!-- End .row -->
                    </div>
                </div>
                <!-- End .panel -->
            </div>
            <!-- col-lg-12 end here -->
        </div>
    </div>


{% endblock %}
