{% extends 'base.html' %}
{% load static %}

{% block content %}



    <!-- ========================= SECTION MAIN ========================= -->
    <section class="section-intro padding-y-sm">
        <div class="container">

            <div class="intro-banner-wrap">
                <img src="{% static 'images/banners/cover.gif' %}" class="img-fluid rounded" alt="">
            </div>

        </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->

    <!-- ========================= SECTION  ========================= -->
    <section class="section-name padding-y-sm">
        <div class="container">

            <header class="section-heading">
                <a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
                <h3 class="section-title">Popular products</h3>
            </header><!-- sect-heading -->


            <div class="row">
                {% for product in products %}
                    <div class="col-md-3">
                        <div class="card card-product-grid">
                            <a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>

                            <figcaption class="info-wrap">
                                <a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
                                <div class="price mt-1">{{ product.price }} Lei</div> <!-- price-wrap.// -->
                                  <div class="rating-star">
								<span>
									<i class="fa fa-star{% if product.averagereview < 0.5 %}-o{% elif product.averagereview >= 0.5 and product.averagereview < 1 %}-half-o {% endif %}"
                                       aria-hidden="true"></i>
									<i class="fa fa-star{% if product.averagereview < 1.5 %}-o{% elif product.averagereview >= 1.5 and product.averagereview < 2 %}-half-o {% endif %}"
                                       aria-hidden="true"></i>
									<i class="fa fa-star{% if product.averagereview < 2.5 %}-o{% elif single_product.averagereview >= 2.5 and product.averagereview < 3 %}-half-o {% endif %}"
                                       aria-hidden="true"></i>
									<i class="fa fa-star{% if product.averagereview < 3.5 %}-o{% elif single_product.averagereview >= 3.5 and product.averagereview < 4 %}-half-o {% endif %}"
                                       aria-hidden="true"></i>
									<i class="fa fa-star{% if product.averagereview < 4.5 %}-o{% elif single_product.averagereview >= 4.5 and product.averagereview < 5 %}-half-o {% endif %}"
                                       aria-hidden="true"></i>
									</span>
                            </div>
                            </figcaption>
                        </div>
                    </div> <!-- col.// -->
                {% endfor %}
            </div> <!-- row.// -->

        </div><!-- container // -->
    </section>
    <!-- ========================= SECTION  END// ========================= -->



{% endblock %}
